<head>
body {
  font-family: sans-serif;
}

.text {
  border: 2px dashed #eb1010;
  padding: 15px;
  margin: 20px;
}
.box {
  width: 150px;
  height: 150px;

  border: 5px solid #3cdf0a;
  padding: 20px;
  margin: 30px;
  background-color: #e83bff;
}
/* Фінальна ширина блоку = 150px + 30px + 30px + 5px + 5px */
.box {
  width: 150px;
  height: 150px;
  border: 5px solid #f44336;
  padding: 30px;
  margin: 100px;
  background-color: #ffeb3b;
}
.box {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border: 5px solid #f44336;
  padding: 30px;
  margin: 100px;
  background-color: #ffeb3b;
}